profiles {
	docker {
		docker.enabled = true
		process { container = 'quay.io/cellgeni/batchbench:v0.26'}
	}
	
	local {
		process.executor = 'local'
		executor {
		    name = 'local'
		    cpus = 24
		    memory = 270.GB
		}

		process {
			 cpus   =  1
			 memory =  8.GB
			 queue = 'normal'
			 errorStrategy = 'ignore'
			 maxRetries = 4
			 maxErrors = -1
			
			 withLabel: long_running {queue = 'long'}
			}
  		}
	}
params{
	data_dir="${baseDir}/test_data"
	dataset_list="${baseDir}/metadata/dataset_list.txt"
	output_dir="${baseDir}/results"
	
	// object related params
	batch_key = 'Batch'
	celltype_key = 'cell_type1'
	assay_name = "logcounts"
	corrected_assay = "corrected"
	corrected_emb = "corrected_emb"
	 
	//get_datasets{}
	
	QC_rds{
		run= "True" // must be 'True' or 'False'
		batch_thres = 0.05 // Minimum proportion of total cells for a batch to be considered.
		celltype_thres = 0.01 // Minimum proportion of total cells for a cell type to be considered
		min_genes = 200 // Min number of genes expressed per cell. 
		min_cells = 3 // Min number of cells for a gene to be expressed in.
	}
	// subset_genes_by_cv {}
		
	BBKNN{
		run= "True" // must be 'True' or 'False'
		n_pcs = 25
		n_neighbours = 10
	}
	
	scanorama{
		run= "True" // must be 'True' or 'False'

	}
	
	harmony{
		run= "True" // must be 'True' or 'False'
		n_pcs = 25
	}
	
	Limma{
		run= "True" // must be 'True' or 'False'
	}
	Combat{
		run= "True" // must be 'True' or 'False'
	}
	
	Seurat_3{
		run= "True" // must be 'True' or 'False'
		hvg_method = "dispersion"
		n_features = 2000
		verbose = 'FALSE'
		n_anchors = 30
	}
	
	mnnCorrect{
		run= "True" // must be 'True' or 'False'
		k = 30 
		sigma = 0.1 
		cos_norm = "TRUE" 
		svd_dim = 2 
	}
	
	fastMNN{
		run= "True" // must be 'True' or 'False'
		k = 15 
		cos_norm = "TRUE" 
		n_pcs = 15 
	}
	
	//rds_to_h5ad_converter{}
	
	entropy{
		run= "True" // must be 'True' or 'False'
		k_num = 30
		dim_num = 50
	}
	
	
	clust_SC3{
		run= "True" // must be 'True' or 'False'
		biology = "True" // wether to calculate biological features based on the identified cell clusters
	}
	clust_seurat{
		run= "True" // must be 'True' or 'False'
		n_pcs = 25 //n of PCs for dim reduction
		k_num = 30 // n of NN for graph construction
	}
	clust_hierarch{
		run= "True" // must be 'True' or 'False'
	}
	find_markers{
		run= "True" // must be 'True' or 'False'
	}
	
	UMAP{
		run= "True" // must be 'True' or 'False'
		n_neighbours = 30
		n_pcs = 20
	}
}			
