profiles {
	docker {
		docker.enabled = true
		process { container = 'quay.io/cellgeni/batchbench:v0.14'}
	}
	
	local {
		process.executor = 'local'
		executor {
		    name = 'local'
		    cpus = 24
		    memory = 270.GB
		}

		process {
			 cpus   =  1
			 memory =  8.GB
			 queue = 'normal'
			 errorStrategy = 'ignore'
			 maxRetries = 4
			 maxErrors = -1
			
			 withLabel: long_running {queue = 'long'}
			}
  		}
	}
params{
	data_dir="${baseDir}/test_data"
	dataset_list="${baseDir}/metadata/dataset_list.txt"
	output_dir="${baseDir}/results"
	// object related params
	batch_key = 'Batch'
	celltype_key = 'cell_type1'
	assay_name = "logcounts"
	//get_datasets{}
	
	QC_rds{
		batch_thres = 0.05 // Minimum proportion of total cells for a batch to be considered.
		celltype_thres = 0.01 // Minimum proportion of total cells for a cell type to be considered
		min_genes = 200 // Min number of genes expressed per cell. 
		min_cells = 3 // Min number of cells for a gene to be expressed in.
	}

	//h5ad2sce{}
	
	BBKNN{
		n_pcs = 25
		n_neighbours = 10
	}
	
	//scanorama{}
	
	harmony{
		n_pcs = 25
	}
	
	//Limma{}
	
	//Combat{}
	
	Seurat_3{
		hvg_method = "dispersion"
		n_features = 2000
		verbose = FALSE
		n_anchors = 30
	}
	
	//MnnCorrect{}
	
	//fastMNN{}
	
	//rds_to_h5ad_converter{}
	
	//R_entropy{}
	
	//py_entropy{}
	
	//py_UMAP{}
}			
