

process {
    withName: py_bbknn{

    } 

    withName: py_scanorama{
        
    } 

    withName: R_limma {
        conda = 'bioconda::bioconductor-singlecellexperiment=1.4.0 bioconda::limma=3.38.3'
    }

    withName: R_ComBat {
        conda = 'bioconda::bioconductor-singlecellexperiment=1.4.0 bioconda::bioconductor-sva=3.30.0'
    }

    withName: R_entropy{
        conda = 'bioconda::bioconductor-scran = 1.10.1'
    } 

    withName: py_entropy{
        conda = 'bioconda::scanpy=1.4'
        
    } 
}