executor {
    name = 'local'
    cpus = 24
    memory = 270.GB
}

process {
  cpus   =  1
  memory =  8.GB
  queue = 'normal'
  errorStrategy = 'ignore'
  maxRetries = 4
  maxErrors = -1

  withLabel: long_running {
    queue = 'long'
  }

  withName: get_datasets {
    memory = 2.GB 
  }
  withName: QC_h5ad {
    errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
   memory = { 20.GB + 20.GB * (task.attempt - 1) }
  }
  
  withName: QC_rds {
    errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
    memory = { 20.GB + 20.GB * (task.attempt - 1) }
  }
  withName: BBKNN {
    errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
    memory = { 20.GB + 40.GB * (task.attempt - 1) }
  }
  withName: Scanorama{
    errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
    memory = { 20.GB + 40.GB * (task.attempt - 1) }
  }
  withName: Harmony{
	    errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry': 'ignore' }
   memory = { 20.GB + 40.GB * (task.attempt - 1) }    
  }
  withName: Limma{
    errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry'  : 'ignore' }
    memory = { 20.GB + 40.GB * (task.attempt - 1) }  
}
  withName: Combat{
    errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry' : 'ignore'  }
    memory = { 20.GB + 40.GB * (task.attempt - 1) }
  }
  withName: Seurat_3_anchors{
    errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry': 'ignore'  }
    memory = { 20.GB + 40.GB * (task.attempt - 1) }
  }
  withName: MnnCorrect{
    errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
    memory = { 20.GB + 40.GB * (task.attempt - 1) }
  }

withName: fastMNN{
    errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry' : 'ignore'  }
   memory = { 20.GB + 40.GB * (task.attempt - 1) }
  }

  withName: R_entropy {
    errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
  	  memory = { 20.GB + 40.GB * (task.attempt - 1) }
  }
  withName: rds_to_h5ad_converter {
	  errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry' : 'ignore'  }
	  memory = { 20.GB + 40.GB * (task.attempt - 1) }
  }
  withName: py_entropy {
  errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry' : 'ignore'  }
  	memory = { 20.GB + 40.GB * (task.attempt - 1) }
  }
  withName: py_UMAP {
  errorStrategy = { (task.exitStatus >= 130 || task.exitStatus < 140) && task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
  	memory = { 20.GB + 40.GB * (task.attempt - 1) }
  }

  }
